<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- google font-->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" 
      rel="stylesheet">
      <!-- fontsAwesome-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" 
      crossorigin="anonymous" />
      <!-- css -->
      <link rel="stylesheet" href="dist/app.css">
      <title>Document</title>
      <!-- VUEJS-->
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <!--WARNING VUEJS-->
    <div id="app">
      <!-- CONTACTS -->
      <div class="overHead">
        <div class="overHead-container">
          <div class="boxL">
            <div class="workdays" v-for="data in rotation">
              <i :class="rotation.faIcon"></i>
              <span>
                Open Hours:
              </span>
              <div class="workdays-data" v-for="(element, key, index) in data.dayHour">
                <span :class="dashClass(index)">
                  {{element}}
                </span>
              </div>                     
            </div>
          </div>
          <div class="boxR">
            <div class="contacts">
              <div class="contacts-data" v-for="element in contacts">
                <i :class="element.faIcon"></i>
                <span >
                  {{element.contact}}
                </span>
              </div>
            </div>
            <div class="social" v-for="icon in social">
              <i :class="icon"></i>
            </div>
          </div>
        </div>
      </div>
      <!--/CONTACTS-->
      <!--NAV IN JUMBOTRON-->
      <div  class="navAndJumbotron-box">   
        <div class="overbox-opacity">
          <!--navbar-->
          <div class="navBar">
            <div class="navBar-L">
              <!-- logo Snippet-->
              <div class="barndLogo">
                <div class="brandLogo-part1">
                  <span class="text-brandpart1">
                    NEX
                  </span>
                </div>                
                <span class="brandLogo-part2">
                  GEN
                </span>
              </div>
              <!-- /logo Snippet-->
            </div>
            <div class="navBar-R">
              <div class="menuNav-box"  v-for="element in navBar" >
                <ul class="navUl" v-for="item in element.navMenu">
                  <li>
                    {{item}}
                  </li>
                </ul>
                <div class="userIcon">
                  <i :class="element.userIcon"></i>
                </div>
              </div>
              <div class="button-solid">
                <span>GET IN TOUCH</span>
              </div>
            </div>                    
          </div>
          <!-- / navbar-->
          <!-- jumboMain-->
          <div class="jumbotronTextButton-container">
            <div class="text-box">
              <h1>
                Financial Risk
              </h1>
              <p>
                The right outcomes depend on continuous rigor in governance,
                models, and processes across the finance function.
              </p>
            </div>
            <div class="button-box">
              <div class="button-solid">
                <span>
                  GET IN TOUCH
                </span>
              </div>
              <div class="button-transparent">
                <span>
                  READ MORE
                </span>
              </div>
            </div>            
          </div>
          <!-- / jumboMain-->
        </div>          
      </div>
      <!-- / NAV IN JUMBOTRON-->
      <!--INTRO VIDEO SECTION-->
      <div class="introVideo-box">
        <div class="pagecenter-videoSection">
          <!-- textMov-block-->
          <div class="textMov-block">
            <div class="top-title">
              <span>
                INTRODUCTION VIDEO
              </span>
            </div>
            <h1 class="title">
              Advisory <span class="title-wordColorChange">Performance</span>
            </h1>
            <p class="summary">
              Financial executive need to review their strategies, operating  models and capabilities so that their areas can generate sound information for better decison making.
            </p>
            <div class="video-preview">
              <div class="overbox-opacity">
                <div class="playLink">
                  <i class="fas fa-play"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- / textMov-block-->
        </div>
      </div>
      <!--INTRO VIDEO SECTION-->
      <!-- RESULT SECTION-->
      <div class="result-section">
        <div class="overbox-opacity">
          <!-- textResult-block-->
          <div class="textResult-block">
            <div class="top-title">
              <span>
                WHAT ARE WE DOING
              </span>
            </div>
            <h1 class="title">
              <span class="title-wordColorChange">Result</span> in Numbers
            </h1>
            <div class="result-box-container">
              <div class="box-result">
                <div class="result">
                  128
                </div>
                <div class="sector">
                  Certifications
                </div>
  
              </div>
              <div class="box-result">
                <div class="result">
                  128
                </div>
                <div class="sector">
                  Certifications
                </div>
  
              </div>
              <div class="box-result">
                <div class="result">
                  128
                </div>
                <div class="sector">
                  Certifications
                </div>
  
              </div>
              <div class="box-result">
                <div class="result">
                  128
                </div>
                <div class="sector">
                  Certifications
                </div>
  
              </div>
  
            </div>
          </div>
          <!-- / textResult-block-->
          
        </div>
      </div>
      <!-- RESULT SECTION-->



          

    </div>
    <!-- /WARNING VUEJS-->
    <script src="js/script.js"></script>
  </body>
</html>