//JUMBOTRON BG IMMAGE
@mixin jumbotronImg {
  background-image : url("../images/bg-2.jpg");
  background-position : top;
  background-size : cover;
  background-repeat : no-repeat;
}

//VIDEO BLOCK BG-IMG
@mixin moviePreview {
  background-image : url("../images/video-1.jpg");
  background-position : center;
  background-size : cover;
  background-repeat : no-repeat;
}

//RESULT SECTION BG-img
@mixin resultImg {
  background-image : url("../images/bg-4.jpg");
  background-position : center;
  background-size : cover;
  background-repeat : no-repeat;
}

//BRAND NAME
$brandLetterSpacing : 5px;
$brandFontSize : 15px;
$brandWeight : 900;
@mixin brandName-container-part1 {
  display : inline-block;
  background-color : $bg-brand;
  padding-left : 25px ;
  border-top-left-radius : 30px;
  border-bottom-left-radius : 30px;
  line-height: 40px;
}
@mixin brandName-part1 {
  text-align : right;
  color : $font-blueLagoon;   
  font-weight : $brandWeight;
  letter-spacing : $brandLetterSpacing;
  font-size : $brandFontSize;
}
@mixin brandName-part2 {
  color : $font-white;
  font-weight : $brandWeight;
  letter-spacing : $brandLetterSpacing;
  font-size : $brandFontSize;
}

//SOLID BUTTONS
@mixin buttonSolid {
  background-color : $bg-darkBlueLagoon;
  color : $font-white;
  padding : 10px;
  border-radius : 5px;
  font-size: 15px;
  &:hover {
    cursor: pointer;
    background-color : $buttonSolid-hover;
    transform: scale(1.1);
  }

}

//TRANSPARENT BUTTON
@mixin buttonTransparent {
  background-color : transparent;
  border : 1px solid $font-blueLagoon;
  color : $font-white;
  padding : 10px;
  border-radius : 5px;
  font-size: 15px;
  &:hover {
    cursor: pointer;
    background-color : $buttonSolid-hover;
    transform: scale(1.1);
  }
}

//top-title 
@mixin topTitle {
  color : $font-blueLagoonLight;
  font-weight : 600;
}
//title change bluelagoon
@mixin changeWordColor {
  color : $font-blueLagoon;
  background-color : $bg-brand;
  border-radius : 5px;
}
//title change color white e bg bluelagoon-strong
@mixin changeWordColor2 {
  color : $font-white;
  background-color : rgba(49, 109, 110, 0.6);
  border-radius : 5px;
}