//BACKGROUNDS
@mixin jumbotronImg {
    background-image : url("../images/bg-2.jpg");
    background-position : top;
    background-size : cover;
    background-repeat : no-repeat;
}

//BRAND NAME
@mixin brandName-part1 {
    color : $font-blueLagoon;
    background-color: rgba(29, 124, 126, 0.5);
    padding-left: 20px;
    
}
@mixin brandName-part2 {

}