// COLORS PALETTE
$cyanBlue : #24333d; // color some title and bg input
$white :#f9f9f9;
$whiteDark : #c0c3cf;

$whiteTransparency :#f9f9f9a1;

$yellowOcre : #eff4ee; //bg latest news

$bg-woodsmoke : #111117;//bg services and newsletter
$bg-warmweiss : #ececec; //bg input
$brandColorDark : #058283; //text bg-button
$brandColorLight :#00a6a6; //brand color buttonHover 
$blueMagenta : #19191e; //boxes-bg services 
$brandColorTransparency :#00a6a636; //brand trasparency

$footerBgColor : #070a0c; //bg footer


$opacity : #00000060;


//da sostituire A con B
$coloreA : #00a6a6;
$coloreB : #41c457;

