//FONT COLORS PALETTE
$font-white :rgb(255, 255, 255);
$font-gray : rgb(192, 195, 207);
$font-grayFucile : rgb(28, 40, 49);
$font-blueLagoon : rgb(29, 124, 126);

//BACK-GROUNDS PALETTE 
$bg-nav : rgb(28, 64, 85);
$bg-woodsmoke : rgb(17, 17, 23);
$bg-greenExLight : rgb(239, 243, 237);
$bg-brand : rgba(56, 129, 130, 0.3);

//BUTTON COLORS
$transparent : transparent;

//COMMON BUTTON FONT
$darkBlueLagoon : rgb(56, 129, 130);
