@import  "partials/_commons";
@import "partials/_colors";
@import "partials/_bg-brand-titles";
#app {
  .overHead-section { 
    @include widthSectionParam;
    height : 50px;
    background-color : rgb(28, 64, 85);
    .overHead-container {
      @include pageCenter;
      @include flex;
      color : $font-gray;
      line-height : 50px;
      justify-content : space-between;
      padding : 0px 15px;
      .boxL {
        .workdays {
          i {
            margin-right : 8px;
          }
          &-data {
            display : inline-block;
            &-dashed::before {
              content : '-';
              margin-left: 4px;
            }                  
          }                 
        }
      }
      .boxR {
        @include flex;
        .contacts {
          @include flex;                
          &-data {
            cursor : pointer;
            margin-right : 35px;
            i {
              margin-right : 5px;
            }
            &:hover {
              color : $font-white;
              text-decoration: underline;
            }
          }
        }
        .social {
          a {
            cursor: pointer;
            color : $font-gray;
            text-decoration : none;
            margin-left : 35px;
            &:hover {
              color  : $font-white;
              transform: scale(1.1);
            }
          }
        }   
      }// end boxR
    } //end overHead-container
  }//end overHead
  .navAndJumbotron-section {
    @include widthSectionParam;
    height : 920px;
    position : relative;
    @include jumbotronImg;
    .overbox-opacity {
      @include overBoxOpacitySizer;
      background-color: rgba(78, 90, 93, 0.404);
      .navBar {
        @include pageCenter;
        @include flex;
        justify-content : space-between;
        align-items : center;
        padding : 0px 15px;
        height : 100px;
        &-L {
          .brandLogo {
            &-part1 {
              @include brandName-container-part1;
              .text-brandpart1 {
                @include brandName-part1;
              }
            }
            &-part2 {
              @include brandName-part2;
            }  
          }
        }
        &-R {
          @include flex;
          align-items: center;
          .menuNav-box {
            @include flex;
            font-size: 16px;
            .navUl {
              li {
                text-transform : uppercase;
                margin : 0px 25px;
                color : rgb(200, 200, 200);
                &:hover {
                  color : $font-white;
                  cursor : pointer;
                  transform: scale(1.2);
                }
              }
            }
            .userIcon {
              margin-right : 25px;
              font-size: 20px;
              color : rgb(210, 210, 210);
              &:hover {
                color : $font-white;
                cursor : pointer;
                transform: scale(1.1);
              }
            }
          }
          .button-solid {
            @include buttonSolid;
          }
        }        
      }//end navBar
      .jumbotronTextButton-container {
        position : absolute;
        top : 50%;
        left : 50%;
        transform : translate(-50%, -50%);
        text-align : center;
        color : $font-white;
        .text-box {
          width : 700px;
          margin : 50px;
          h1 {
            font-size : 70px;
            font-weight : bolder;
            margin : 50px;
          }
          p {
            color : $font-gray;
            font-size : 20px;
          }
        }
        .button-box {
          .button-solid {
            display: inline-block;
            @include buttonSolid;
            margin-right : 15px;
          }
          .button-transparent {
            display: inline-block;
            @include buttonTransparent;
          }
        } 
      }
    } //end overbox-opacity
  }//end navAndJumbotron-box
  .introVideo-section {
    @include widthSectionParam;
    height : 900px;
    background-color : rgb(250, 250, 250);
    // background-color: blue;
    .pagecenter-videoSection {
      position : relative;
      @include pageCenter;
      height : 100%;
      .textMov-block {
        @include centerAbsolute;
        width : 900px;
        text-align: center;
        .top-title {
          @include topTitle;
          margin-bottom : 30px;
        }
        .title {
          margin-bottom : 30px;
          color : $font-grayFucile;
          font-size: 40px;
          &-wordColorChange {
            @include changeWordColor;
            padding : 5px;
          }
        }
        .summary {
          color : $font-grayDark;
          margin-bottom : 80px;
          padding : 0px 40px;
        }
        .video-preview {
          position: relative;
          width : 900px;
          height : 400px;
          @include moviePreview;
          .overbox-opacity {
            @include overBoxOpacitySizer;
            background-color : rgba(62, 138, 139, 0.4);
            .playLink {
              @include centerAbsolute;
              font-size : 70px;
              color : rgba(255, 255, 255, 0.712);
              text-shadow : 0px -8px 0px rgba(22, 192, 195, 0.842);
              &:hover {
                font-size : 80px;
              }
            }
          }
        }
      }//end text-block
    }//end pagecenter-videoSection
  }//end introVideo-box
  .result-section {
    @include widthSectionParam;
    @include resultImg;
    height : 580px;
    position : relative;
    .overbox-opacity {
      @include overBoxOpacitySizer;
      background-color : rgba(39, 39, 39, 0.623);
      .textResult-block {
        @include centerAbsolute;
        @include pageCenter;
        text-align: center;
        .top-title {
          @include topTitle;
          margin-bottom : 30px;
        }
        .title {
          margin-bottom : 80px;
          color : $font-white;
          font-size: 40px;
          &-wordColorChange {
            @include changeWordColor2;
            padding : 5px;
          }
        }
        .result-box-container {
          @include clearfix;
          @include pageCenter;
          .box-result {
            .result {
              color : $font-blueLagoonLight;
              font-size : 35px;
              font-weight : bolder;
              margin-bottom : 30px;
              float: left;
              width : calc((100% / 12) * 3);
            }
          }
          .box-sector {
            .sector {
              color : $font-white;
              font-size : 20px;
              font-weight : bolder;
              text-transform : capitalize;
              float: left;
              width : calc((100% / 12) * 3);
              padding : 50px 0px;
            }
          }
        }
      }// end textResult-block
    }// end overbox-opacity 
  }// end result-section
  .area-services-section {
    @include widthSectionParam;
    position : relative;
    height : 1090px;
    background-color : $bg-woodsmoke; 
    .centralBox {
      @include centerAbsolute;
      
      .titleButtonSection {
        @include pageCenter;
        @include flex;
        justify-content : space-between;
        margin-bottom : 30px;
        .textServices-block {
          width : 820px;
          .top-title {
            @include topTitle;
            margin-bottom : 30px;
          }
          .title {
            margin-bottom : 30px;
            color : $font-white;
            font-size: 40px;
            &-wordColorChange {
              @include changeWordColor2;
              padding : 5px;
            }
          }
          .summary {
            color : $font-white;
          }
        }//end text-block
        .button-box {
          width: calc(100% - 820px);
          position : relative;
          .button-transparent {
            @include buttonTransparent;
            width : 120px;
            position : absolute;
            bottom : 0;
            right : 0;
            text-align : center;
          }
        }
      }
      .services-box-container {
        @include flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .services-box {
          width : 360px;
          height : 270px;
          background-color : $bg-darkGray;
          border-radius : 8px;
          margin-bottom : 50px;
          padding : 40px;
          .servicesSymbols {
            @include flex;
            justify-content : space-between;
            margin-bottom : 20px;
            .iconSymbol {
              color : $font-blueLagoonLight;
              font-size : 30px;
            }
            .iconArrow a{
              text-decoration : none;
              color : $font-blueLagoonLight;
              font-size : 18px;
              &:hover {
                transform : scale(1.1);
              }
            }
          }
          .text {
            color : $font-white;
            h4 {
              margin-bottom : 20px;
              text-transform : capitalize;
            }
            span {
              font-weight : 100;
            }
          }
          &:hover {
            transform : scale(1.1);
            .iconSymbol {
              color : $font-white
            }
            .iconArrow a {
              color : $font-white;
              background-color : $bg-darkBlueLagoon;
              text-align : center;
              vertical-align : middle;
              border-radius : 50%;
              padding : 5px;
              line-height : 16px;
            }
          }
        }//end services box
      } //end services box container
    } // end central box
  }// end area services section
  .team-section {
    @include widthSectionParam;
    height : 900px;
    background-color : $font-white;
    @include flex;
    align-items: center;
    justify-content: center;
    .central-box {
      @include pageCenter;
      position : relative;
      .textAndTeam-container {
        width : 70%;
        height : 100%;
        .textTeam-block {
          .top-title {
            @include topTitle;
            margin-bottom : 30px;
          }
          .title {
            margin-bottom : 30px;
            color : $font-grayFucile;
            font-size : 35px;
            &-wordColorChange {
              @include changeWordColor;
              padding : 5px;
            }
          }
          .summary {
            width : 750px;
            font-size : 20px;
            color : $font-grayDark;
            margin-bottom : 80px;
          }
        }//end text-block
        .team-container {
          @include flex;
          flex-wrap : wrap;
          justify-content : space-between;
          .team-box {
            @include flex;
            margin-bottom : 50px;
            width : 400px;
            .photo {
              width : 130px;
              margin-right : 25px;
              img {
                width : 100%;
                border-radius : 8px;
              }
            }
            .data {
              padding : 10px;
              .name {
                color : $font-grayFucile;
                font-weight : bold;
                font-size : 28px;
                margin-bottom : 20px;
    
              }
              .role {
                color : $font-grayDark;
                font-size : 16px;
                margin-bottom : 20px;
              }
              .social-contacts {
                color : $font-blueLagoon;
                a {
                  display: inline-block;
                  color : $font-blueLagoon;
                  text-decoration : none;
                  margin-right : 5px;
                  padding : 0px 15px;
                  line-height : 41.5px;
                  border-radius : 50%;
                  background-color : $bg-brand;
                  &:hover {
                    transform : scale(1.1);
                  }
                }
              }
            } // end Data
          } // end team box
        }// end team container
      }
      
      .testimonial-container {
        width : 30%;
        height : 500px;
        background-color : $bg-darkBlueLagoon;
        border-radius : 4px;
        position : absolute;
        right : 0;
        bottom : 50px;
        color : $font-white;
        padding : 35px;
        @include clearfix;
        h2, p {
          margin-bottom : 30px;
        }
        p {
          width : 290px;
          color : $font-gray;
        }
        .quote {
          float : right;
          transform : translateY(-100%);
          font-size : 30px;
          vertical-align : middle;
          color : $font-blueLagoon;
        }
      }
    }// end central box
    
  }// end team section
  .news-section {
    @include widthSectionParam;
    height : 830px;
    position : relative;
    background-color : $bg-greenExLight;
    .central-box {
      @include pageCenter;
      .titleButtonSection {
        position : relative;
        @include flex;
        justify-content : space-between;
        margin-bottom : 50px;
        .textServices-block {
          width : 820px;
          .top-title {
            @include topTitle;
            margin-bottom : 30px;
          }
          .title {
            margin-bottom : 30px;
            color : $font-grayFucile;
            font-size: 40px;
            &-wordColorChange {
              @include changeWordColor2;
              padding : 5px;
            }
          }
          .summary {
            color : $font-grayDark;
          }
        }//end text-block
        .button-solid {
          @include buttonSolid;
          width : 100px;
          position : absolute;
          bottom : 0;
          right : 0;
          text-align : center;
        }
      } // end title button section
      .boxNews-container {
        @include flex;
        justify-content : space-between;
        .box-news {
          width : 360px;
          height : 360px;
          border-radius : 8px;
          position : relative;
          img {
            width : 100%;
            height : 100%;
            border-radius: 8px;
            position: absolute;
          }
          .overbox-opacity{
            @include overBoxOpacitySizer;
            background-color : rgba(39, 39, 39, 0.623);
            border-radius : 8px; 
            padding : 20px;
            position: absolute;
            .text {
              width : 200px;
              color : $font-white;
              text-align : center;
              position : absolute; 
              bottom : 30px;
              left : 50%;
              transform : translateX(-50%)
            }
          }
        }
      }//end boxNews-container
    }//end central box
  } // end news section
  .subscribe-section {
    @include widthSectionParam;
    position : relative;
    height : 460px;
    background-color : $bg-woodsmoke;
    .central-box {
      @include centerAbsolute;
      @include flex;
      justify-content : space-between;
      align-items : center;
      width : 950px;
      .textTitle-section {
        width : 50%;
        .top-title {
          @include topTitle;
          margin-bottom : 30px;
        }
        .title {
          margin-bottom : 30px;
          color : $font-white;
          font-size: 40px;
          &-wordColorChange {
            @include changeWordColor2;
            padding : 5px;
          }
        }
        .summary {
          width : 400px;
          color : $font-grayDark;
        }
      }
      .subscribeInput-section {
        width : 50%;
        .input-container {
          margin-bottom : 20px;
          input {
            width : 80%;
            line-height : 30px;
            border : none;
            outline : none;
            border-radius : 8px;
            padding-left : 10px;
            background-color : rgba(90, 86, 86, 0.582);
            color : $font-gray;
          }
        }
        .button-solid {
          @include buttonSolid;
          width : 140px;
          bottom : 0;
          right : 0;
          text-align : center;
        }

      }

    }// end central box

  }//end subscribe section
  .form-section {
    @include widthSectionParam;
    background-color : $font-white;
    height : 850px;
    @include flex;
    justify-content : center;
    align-items : center;
    .central-box {
      @include pageCenter;
      @include flex;
      justify-content: center;//da valutare
      align-items: center;//da valutare
      height : 80%; //!!!TEMP!!!
      border: 1px solid red; //!!!TEMP!!!
      .containerL {
        width : 60%;
        height : 90%;//!!!TEMP!!!
        border: 1px dotted blue; //!!!TEMP!!!
      }
      .containerR {
        width : 40%;
        height : 90%;//!!!TEMP!!!
        border: 1px dotted green; //!!!TEMP!!!
      }
    }
  }










}//end #app
.textSub-block {
  width : 820px;
  
}//end text-block